*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:
radial-gradient(
circle at top,
#0b1c3d,
#050816 60%
);

color:white;

font-family:
Arial,Helvetica,sans-serif;

line-height:1.7;

min-height:100vh;
}

/* NAVBAR */

.navbar{

position:fixed;

top:0;

width:100%;

padding:25px 10%;

display:flex;

justify-content:
space-between;

align-items:center;

background:
rgba(5,8,22,0.85);

backdrop-filter:
blur(10px);

z-index:1000;

border-bottom:
1px solid rgba(255,255,255,0.05);
}

.logo{

color:#14b8ff;

font-size:32px;

font-weight:bold;
}

.navbar ul{

display:flex;

gap:30px;

list-style:none;
}

.navbar a{

color:#c8d2e3;

text-decoration:none;

font-weight:bold;

transition:0.3s;
}

.navbar a:hover{

color:#14b8ff;
}

/* HERO */

.hero{

min-height:40vh;

padding:180px 10% 80px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;
}

h1{

font-size:72px;

line-height:1.1;

margin-bottom:20px;
}

h1 span{

color:#14b8ff;

text-shadow:
0 0 10px #14b8ff,
0 0 20px #14b8ff;
}

.subtitle{

font-size:24px;

color:#b8c4d9;

max-width:700px;
}

/* WEATHER */

.weather-section{

padding:60px 10% 120px;

display:flex;

justify-content:center;
}

.weather-box{

background:#0d162b;

padding:40px;

border-radius:20px;

width:100%;

max-width:650px;

border:
1px solid rgba(255,255,255,0.05);

box-shadow:
0 0 25px rgba(20,184,255,0.15);
}

.search-box{

display:flex;

gap:15px;

margin-bottom:30px;
}

.search-box input{

flex:1;

padding:16px;

border:none;

outline:none;

border-radius:12px;

background:#111827;

color:white;

font-size:16px;
}

.search-box button{

padding:16px 24px;

border:none;

border-radius:12px;

background:#14b8ff;

color:black;

font-weight:bold;

cursor:pointer;

transition:0.3s;
}

.search-box button:hover{

transform:translateY(-4px);
}

.weather-result{

text-align:center;
}

.weather-result h2{

color:#14b8ff;

margin-bottom:20px;
}

.weather-result p{

font-size:20px;

margin-bottom:10px;

color:#c8d2e3;
}

/* FOOTER */

footer{

padding:40px;

text-align:center;

color:#7f8ba3;

border-top:
1px solid rgba(255,255,255,0.08);
}

/* SCROLLBAR */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#050816;
}

::-webkit-scrollbar-thumb{
background:#14b8ff;
border-radius:20px;
}

/* MOBILE */

@media(max-width:768px){

h1{
font-size:48px;
}

.subtitle{
font-size:18px;
}

.navbar{

flex-direction:column;

gap:20px;
}

.navbar ul{

gap:15px;

flex-wrap:wrap;

justify-content:center;
}

.hero{

padding-top:220px;
}

.search-box{

flex-direction:column;
}

.search-box button{

width:100%;
}

}
